.score-bar {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}

.score-bar__gauge {
  border-radius: 100vmax;
  background-color: var(--grey);
  width: 250px;
  height: 2px;
  overflow: hidden;
}

.score-bar__gauge__content {
  background-color: var(--yellow);
  height: 100%;
}

.score-bar__base-score,
.score-bar__max-score {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 40px;
  height: 40px;

  font-weight: lighter;
  font-size: 14px;
}

.score-bar__base-score {
  z-index: 9;
  background-color: var(--yellow);
}

.score-bar__max-score {
  right: -20px;
  background-color: var(--grey);
}
