.letters {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.letters__row {
    display: flex;
    gap: 10px;
}

.letters__row:nth-child(1) {
    transform: translateY(15px);
}

.letters__row:nth-of-type(3) {
    transform: translateY(-15px);
}
